// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
	height: 300px;
	width: 100%;
}

.new-headline {
	padding: 1rem 2rem;
	border-left: 5px solid #000;
	background: #3399CC;
	color: white;
}

ul {
	list-style: none;
	margin-top: 20px;
}
.btn-position {
	margin: 0 40px 0 10px;
}